@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #121212;
}

@media screen and (min-width: 770px) {
    .custom-navbar {
      display: none;
    }
}

.grid-list {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 50vw), 1fr));
}

.custom-modale-background {
    background-color: rgba(1, 1, 1, 0.8);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}